* {
  font-family: "Archivo Black", sans-serif;
}


body{

  height: 100%;
  
}

#main{


  width: 250px;
  height: 450px;

  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(13, 187, 187);


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

div{
  margin: 8px;
}

.header-bar{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:flex-start;
}

.header-bar>span{
  margin-left: 50px;
}


.middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middle-pic{
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(223, 160, 26);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;
}
.middle-text{
  display: flex;
  flex-direction: column;
}


span{
  display: block;
}

.btn{
  display: flex;
  flex-direction: row;

}



.btn-play {
  width: 100px;
  height: 30px;

  border: 1.5px solid black;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-bottom-width: thick;
}
.btn-play>i{
  margin-right: 10px;
}

.btn-heart, .btn-plus {
      width: 30px;
      height: 30px;

      border: 1.5px solid black;
      border-radius: 50px;

      border-bottom-width: thick;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }



    ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
li{
  display: flex;
      flex-direction: row;
      align-items: center;

}
.playlist-box{
  width: 30px;
  height: 30px;
  background-color: tomato;

  border: 1.5px solid black;
  border-radius: 10px;
    }

